.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.main-header__nav {
    display: flex;
    justify-content: center;
}

.main-header__item-list {
    list-style: none;
    padding: 0;
}

.main-header__item {
    display: inline;
    margin-right: 10px;
}

.main-header__item a {
    color: white;
    text-decoration: none;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a:active {
    color: rgb(112, 14, 14);
}

.main-header__item a:visited {
    color: rgb(129, 124, 142);
}

.form-control label,
.form-control input {
    display: block;
    margin-bottom: 10px;
}
.form-control input {
    padding: 5px;
    width: 100%;
}
.product-form {
    margin: 20px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: rgb(112, 14, 14);
}